/*#caixa{
    -webkit-border-radius: 10px; --> Para arredontar versões mais antigas dos navegadores. Prefixos
    -moz-border-radius: 10 px; --> Para arredontar versões mais antigas dos navegadores. Prefixos
    border-radius: 10px; --> Arredondar as caixas, Cantos Arredondados 
    box-sizing: border-box; --> Ajuda nos layouts. Também precisa dos prefixos
}*/

#caixa{
    width: 300px;
    height: 300px;
    /*background: url("../img/camera.png");*/
   /*  background: linear-gradient(to top, red, green); --> Coloca cores grandientes como background, escolhendo as cores ou os hexadecimais e a direção. Existe várias opções, ver no site*/

}

#caixa h1{
    background: rgba(255, 255, 255, 0.5) /*Utilizando o rgba, colocamos o código hexadecimal transformado em rgb e definimos a opacidade no final*/
}